/* different to html.... selectors */
body{
    background-color: blueviolet;
font-family: "comic sans ms",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/* single or double quotes used for those of multiple words */
}
/* must add css file to html file */

/* in order to change color of the text: paragrpahs */
p{
color: black;
/* all this fam is fallback bruh */
}
*{
    margin: 0;
    font: bold;
    font-size: 25px;
}

/* shift delete to delete whole line, padding deletes lists */
/* all elements have headings and margins, and to get rid of them on everything, 
select everything with * */

a{
    color: aqua;
}   

.Randalls{
    display: flex;
    flex-basis: 50vh;
}

.remmypilled{
 height: 60vh;
 display: block;
margin-left: auto;
margin-right: auto;
}


.Randal{
    /* uniform resource locator */
    background-image: url("../images/remmy.png");
    background-size: 25%;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.Randal:hover{
    border: 10px outset white;
}

.middle{
    text-align: center;
}

.interests{
    color: black;
    text-align: center;
    background-color: cyan;
}

.nyehehehe{
    margin: 25px;
}

.interests:hover{
    border: 15px red inset;
}

.index{
    margin-bottom: 3rem auto;
    background-color: color white;
    text-align: center;
    color: chocolate;
    display: block;
    border: 10px groove black;
    background-image: url(../images/6b6bc61622b308cf501902d473b5ca04.gif);
    background-size: auto;
}
.bigboy{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid goldenrod;
    height: 90vh;
    align-content:flex-start;
}

.layout{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.left {
    background-color: blueviolet;
    background-size: 10%;
    display: grid;
    grid-template-columns: auto;
}

.middle{
    border-left: 10px solid goldenrod;
    border-right: 10px solid goldenrod;
    padding: 10px;
    background-color: burlywood;
    background-size: 1fr;
    display: grid;
    grid-template-columns: auto;
}

.right{
    background-color: purple;
    background-size: 10%;
    display:flex;
    flex-direction: column;
}


h6{
    color: rgb(110, 1, 173);
}


/* justify content = main axis (x-axis) */

.container{
    display: flex;
   flex-direction: column-reverse;
   justify-content: left;

}
.box{
    width: 150px;
    height: 150px;
    font-size: 3em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(286, 74%, 20%)
}
#box2{
    background-color: hsl(41, 100%, 37%);
}
#box3{
    background-color: hsl(130, 52%, 38%);
}
#box4{
    background-color: hsl(0, 100%, 40%);
}
.hide{
    color: burlywood;
    font-size: 25px;
    text-decoration: none;
    cursor: e-resize;
}

.header{
    background-color: goldenrod;
    text-align: center;
    align-items: center;
    padding: 1.5cm;
    height: 60px;
    border: 10px outset goldenrod;
    background-image: url("../images/remmy.png"); 
    background-size: 100px 200px;
    /* do ../ to go back */
}

.header button{ 
    background-color: aqua;
    display: inline;
    padding: 10px;
    border-radius: 150px;
    border: 10px dotted violet;
    font-family: "comic sans ms", 'Times New Roman', Times, serif;
   
}

.hidden-link{
    color: goldenrod;
    text-decoration: none;
    cursor: default;
} 
/* this is the hidden link  */

/* i fell asleep while coding whoops */
.blue-text, b, strong{                                         
    color: white;
    /* you can use pixel size (px), in, cm, millimeters */
   font-size: 67px;
    font-family: "ms gothic", 'Courier New', Courier, monospace;
}
/* to change text inside body just change font inside body */
/* to move stuff do like alt and arrow keys */

lolz */

.fat{
    color: black;
    height: 300px;
    width: 300px;
   background-size: 75%;
    background-image: url(../images/6b6bc61622b308cf501902d473b5ca04.gif);
}

/* idk why i named it that lol */
.schrodinger{
    color: blueviolet;
    cursor: default;
}

.home-button{
    background-color: aqua;
    padding: 10px;
    display: inline-block;
    text-align: center;
}
.home-button:hover{
    border: 10px inset red;
}